/* use this for production https://rawcdn.githack.com/thomazpougy/desafio-ou-desafio/94379cc6486f9c8a322fc5cffd11fa3caef5714e/style.css */
/* use this for development https://raw.githack.com/thomazpougy/desafio-ou-desafio/main/style.css */

/* INDEX */
#descr-aquec{
    display: none;
}

/* AQUECIMENTO */
#btn-recomecar{
    position: relative;
    width: 50%;
    margin-left:25%;
}

.card-recomecar{
    display:none;
    width: 70%;
    height: 50%;
    position: absolute;
    top: 33%;
    left: 15%;
    background-color: #D7DBDD ;
    transform: rotate(-15deg);
    padding-top: 5%;
}

#red-background{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF5733;
    z-index: -1;
}

#countdown{
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: none;
}

.img-count{
    position: absolute;
    z-index: 3;
    height: auto;
    width: 45%;
    margin-left: 27.5%;
}

.container-aquecimento{
    background-color: LightGoldenRodYellow;
    width: 95vw;
    height: 17rem;
    margin: 2vw auto;
    justify-content: center;
}

.titulo-recomecar{
    text-align: center;
    font-weight: bold;
}

.titulo-aquecimento{
    text-align: center;
    font-weight: bold;
}

#container-texto-aquecimento{
    height: 80%;
    text-align: center;
}

#texto-aquecimento{
    display: none;
    font-weight: bold;
    padding: 2% 2%;
}

#proxima-batata{
    width: 50%;
    margin-left:25%;
}

/* SECTIONS */
#jogo{
    display: none;
}

#seletor{
    display: block;
}

/* ELEMENTOS */
body {
    font-family: Arial,sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color:LightBlue;
}

#titulo-menu{
    margin: 5rem auto 1rem;
    text-align: center;
    font-weight: bold;
    display: block;
}

.btn-menu{
    margin: 1rem auto;
    display: block;
}


#titulo-seletor{
    font-weight: bold;
    padding-top: 3%;
}

.header-seletor{
    padding: 10% 2% 2% 8%;
}

#botao_desafio{
    margin-top: 2rem;
    display: block;
    font-weight: bold;
}

#botao_voltar{
    display: none;
    margin-bottom: 2rem;
}

#carta{
    height: 26rem;
    width: 15rem;
    background-color: LightGoldenRodYellow;
    margin: 2rem auto 2rem auto;
    padding-top: 0.5rem;
}

.corpo_desafio{
    height: 14rem;
    width: 13.5em;
    background-color: Gainsboro;
    margin: 0.5rem auto;
    padding-top: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 00.5rem;
    text-align: center;
    font-weight: bolder;
}

.prenda{
    margin: 0 auto;
    padding: 5% 5%;
}

#container-navbar{
    width: 50%;
}

.card{
    margin: 5%;
}

/* TEXTO */
.titulo_prenda{
    font-weight: bold;
}

/* DINAMICA */
.estado0{
    position: absolut;
    transform: perspective(500px) rotatey(0deg);
    transition: 2s ease;
    backface-visibility: hidden;
}

.estado1{
position: absolut;
transform: perspective(500px) rotatey(360deg);
transition: 2s ease;
backface-visibility: hidden;
}

/* NAVBAR */
#nav_menu_principal{
    margin-bottom: 1rem;
    display: block;
}